.container__mensaje-gracias {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 19px;
    width: 100vw;
    height: 100vh;
    font-style: italic;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .container__mensaje {
    background-color: #ff4d004e;
  }