@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@font-face {
  font-family: "Nunito";
  src: url(../../fonts/NunitoSans-Light.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
} 
body {
  margin: 0;
  font-family: "Nunito";
}
img {
  display: block;
  width: 100%;
}
